<div class="header">
    <div >
        <nav class="text-header">
            <ul>
                <li><a routerLink="interest">Interest</a></li>
                <li><a href="#">Fixed Deposit</a></li>
                <li><a href="#">Recurring Deposit</a></li>
    
                <li><a href="#"> <span class="glyphicon glyphicon-user"></span> login</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Sign-up</a></li>
            </ul>
        </nav>
    </div>

</div>
